[submodule "algorithms/src/snark/varuna/ahp/prover/cuVaruna"]
	path = algorithms/src/snark/varuna/ahp/prover/cuVaruna
	url = git@github.com:ProvableHQ/cuVaruna.git
[submodule "algorithms/cuda/sppark"]
	path = algorithms/cuda/sppark
	url = git@github.com:davencyw/sppark.git
